<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <img id="escudoud" src="assets/img/escudoudHome.png">
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Enlaces Externos</h6>
          <p>
            <a href="https://scienti.colciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000001394">GrupLac - GIIRA</a>
          </p>
          <p>
            <a href="https://scienti.colciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000000877">GrupLac - GITUD</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p>
              <fa-icon [icon]="faEnvelope"></fa-icon> cemontenegrom@udistrital.edu.co </p>
          <p>
              <fa-icon [icon]="faEnvelope"></fa-icon> gitud@udistrital.edu.co </p>
          <p>
              <fa-icon [icon]="faEnvelope"></fa-icon> pagaonag@udistrital.edu.co</p>
        </div>
        <!-- Grid column -->
  
      </div>
  
  </footer>
  <!-- Footer -->