<div id="mision" @slideToPageFromLeft>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <h2>Misión</h2>
                <p>Ser un grupo interdisciplinario para la gestión, desarrollo e integración de Herramientas 
                    Tecnológicas sobre Redes Académicas y evaluación de contenidos digitales mediante estrategias 
                    de modelos ontológicos y agentes inteligentes para la identificación de metodologías de 
                    desarrollo y niveles de confianza en plataformas Virtuales de Aprendizaje</p>
            </div>
            <div class="d-none d-md-block col-sm-5">
                <img [@burningRocket]="onStateOne ? 'two' : 'one'" (@burningRocket.done)="onDone($event)" src="assets/img/imagenMisionGIIRA.png" alt="Cohete">
            </div>
        </div>
    </div>
</div>

<div id="vision" @slideToPageFromRight>
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-sm-5">
                <img src="assets/img/imagenVisionGIIRA2.png" alt="foco">
            </div>
            <div class="col-sm-7 col-xs-12">
                <h2>Visión</h2>
                <p>Lograr establecer productos de Investigación interdisciplinares en líneas afines 
                    sobre redes Académicas y vínculos de proyectos de Investigación de alto impacto
                        a nivel tecnológico, social y Educativo. Analizar comportamiento de uso de 
                        herramientas tecnológicas para establecer modelos de educación y comunicación
                        adecuados en instituciones académicas. Definir estrategias de análisis de datos
                        a gran escala y su vinculación con recursos relevantes sobre Internet</p>
            </div>
        </div>
    </div>
</div>

<div id="objetivos">
    <div class="container">
        <div class="row">
            <div class="my-auto col-sm-7 col-xs-12">
                <h2>Objetivos</h2>
                <p>Ser un grupo interdisciplinario para la gestión, desarrollo e integración de 
                    Herramientas Tecnológicas sobre Redes Académicas y evaluación de contenidos 
                    digitales mediante estrategias de modelos ontológicos y agentes inteligentes 
                    para la identificación de metodologías de desarrollo y niveles de confianza 
                    en plataformas Virtuales de Aprendizaje.</p>
            </div>
            <div class="d-none d-md-block col-sm-5">
                <img src="assets/img/imagenObjetivosGIIRA.png" alt="caritas">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="d-none d-md-block col-sm-5">
                <img src="assets/img/imagenObjetivosGiira2.png" alt="objetivos">
            </div>
            <div class="my-auto col-sm-7 col-xs-12">    
                <ul>
                    <li>Mantener una línea de producción académica 
                    estable en nuestras áreas de investigación </li>
                    <li>Aplicar a proyectos de investigación de base tecnológica 
                        y análisis de datos científicos </li>
                    <li>Plantear modelos de comunicación para proyectos TICs en 
                        Educación sobre institutos académicos  </li>
                    <li>Desarrollar modelos de implementación e integración de 
                        servicios adecuados a sector académico y empresarial </li>
                </ul>
            </div>
        </div>
    </div>
</div>