#misionvision{
    background-image: url('/assets/img/imagenMisionGIIRA.jpg');
    color: white;
    font-size: 1.2em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

    hr{
        border-color: white;
        border-width: 0.1em;
    }
}


#objetivos {
    background-color: #dad6d5;
    margin-bottom: 0.2em;   
}


#lineas{
    background-color: #dad6d5;
    font-size: 1.2em;
    color: black;
    margin-bottom: 0.2em;

    ul{
        margin-left: 5em;
    }

    h1{
        margin-bottom: 1em;
    }

}

div .container{
    padding-top: 2em;
    padding-bottom: 2em;

    hr{
        border-width: 0.2em;
    }
}

#articulos{
    background-image: url('/assets/img/imagenLineasGIIRAB.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-bottom: 0.2em;
}

iframe{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 500px;
    border-radius: 5px;
    font-size: 0.5em;
    
}
