<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="#">G.Q.G</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav justify-content-center d-flex flex-fill">
        <li class="nav-item">
          <a class="nav-link" href="#">GIIRA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">QUINOA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GITUD</a>
        </li>
      </ul>
    </div>
  </nav>